'.source.coffee':
  'Public comment':
    'prefix': 'pub'
    'body': """

      ##########################################################################
      # PUBLIC

    """
  'Private comment':
    'prefix': 'pri'
    'body': """

      ##########################################################################
      # PRIVATE

    """
  'Method documentation':
    'prefix': 'mdoc'
    'body': """
      ###*
       * ${1:Method description}
       * @param {${2:type}} ${3:name} - ${4:description}$7
       * @return {${5:type}} ${6:description}
      ###

    """
  'Class documentation':
    'prefix': 'cdoc'
    'body': """
      ###*
       * ${1:Class description}
      ###

    """
'.source.js':
  'Method documentation':
    'prefix': 'mdoc'
    'body': """
      /*
       * ${1:Method description}
       * @param {${2:type}} ${3:name} - ${4:description}$7
       * @return {${5:type}} ${6:description}
      */

    """
  'Class documentation':
    'prefix': 'cdoc'
    'body': """
      /*
       * ${1:Class description}
      */

    """
